.portfolio .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.portfolio .overlay-text {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
.portfolio .section {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.portfolio .text {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.container-portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.title-ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    padding: 0;
    margin: 0;
    list-style: none;
}
.title-ul > li {
    width: calc((100% - 48px) / 3);
box-sizing: border-box;
}
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.container-portfolio h2 {
    padding-bottom: 72px;
}
.member-content-wrapper-p {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}